/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box;  
}

button{
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-white:#FFF;
  --color-whiteopacity:#ffffff66;
  --color-black:#000;
  --color-green:#C8FF4E;
  --color-buttons: #1A1B1F;
  --color-lightgray: #474750;
  --color-blue: #4F81FF;

  --color-gray: rgb(255 255 255 / 0.15);
}





/*******************/
/* GENERAL STYLING */
/*******************/
body {
  color:var(--color-white);
  background-color:var(--color-black);
  font-family: "Object Sans", sans-serif;
  /*************************************************/
  /*************************************************/
  /*************************************************/
  /* display: grid; - dit zorgde voor het probleem */
  /*************************************************/
  /*************************************************/
  /*************************************************/
  line-height: 1.45;
  margin: 0 auto;
}

a:focus-visible{
  outline: 2px solid var(--color-green);
  outline-offset: 3px;
}

/* dit hoort hier */
.page1 section:nth-of-type(even) {
  background-color:var(--color-white);
  color:var(--color-black);
  width: 100%;
}

/* dit hoort hier */
marquee{
  text-transform: uppercase;
  font-size: 5.5em;
  font-weight: 550;
  font-style: italic;
  line-height: 1.4em;

  background-color:var(--color-white);
  color:var(--color-black);
  width: 100%;
}

/* om elementen voor zienden te verbergen */
/* maar wel voor te laten lezen door screenreaders */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}




/**********/
/* HEADER */
/**********/
header {
  padding:9em 2em 1em;
  width: 100%;
}





/*************/
/* FIRST NAV */
/*************/
header nav:first-of-type{
  display: flex;
  position: fixed;
  left:0;
  right:0;
  /* left en right voor volle breedte */
  top:0;
  justify-content: center;
  gap: clamp(1em, 2.5vw, 2em); /* groeien met een min en max */

  background-color: var(--color-black);
  /* width: 100%; */
  height: 3em;
  z-index: 10;
}

header nav:first-of-type a{
  display: flex;
  align-items: center;
  gap: .5em;

  font-weight: 100;
  font-size: clamp(1em, 2.5vw, 2em); /* groeien met een min en max */
  color: var(--color-white);
  text-decoration: none;
}

header nav:first-of-type a:hover{
  border-bottom:0.1em solid var(--color-green);
}

header nav:first-of-type img{
  width: 1em;
}





/******************/
/* HAMBURGER MENU */
/******************/
header > nav:nth-of-type(2){
  width: 100%;
  max-width:35em;
  
  margin: 0 auto;

  border-radius: 3em;
  overflow:hidden;
  position: relative;
} 

header > nav:nth-of-type(2).open{
	transform:translateY(0%);
}

header nav:nth-of-type(2) button{
  position:relative;
  display: block;	
  
  padding: 0.75em;
  
  border: none;
  
  height: 6em;
  width:100%;
  background-color: var(--color-buttons);
}

header nav:nth-of-type(2) > button:focus{
  color: var(--color-green);
}

header nav:nth-of-type(2) > button > img{
  width: 10em;
}

header nav:nth-of-type(2) ul{
  margin:0;
  
	transition:1s;
  background-color: var(--color-buttons);

  display:grid;
  gap:1em;

  max-height:0;
  padding:0 2em;
}

header nav:nth-of-type(2).open ul {
  max-height:24em;
  padding:2em;
}

header nav:nth-of-type(2) li{
  list-style: none;
  
}

header nav:nth-of-type(2) a{
  color:var(--color-white);
  text-decoration: none;
}

header nav:nth-of-type(2) a:hover{
  color:var(--color-green);
}





/*************/
/* SECTION 1 */
/*************/

/* h1 en h2 */
section:first-of-type div:first-of-type {
  display: flex;
  flex-direction:column-reverse;
  padding: 2em;
  margin:0 0 2em;
}

section:first-of-type div:first-of-type h1{
  font-size: clamp( 2em, 7vw, 3em); /* groeien met een min en een max - kun je opmeer plekken gebruiken */
  margin: 0;
  font-weight: 100;
}

section:first-of-type div:first-of-type h2 {
  font-size: 5vw;
  letter-spacing: .05em;
  font-weight: 600;
  margin: 0;
}

/* links */
section:first-of-type div:nth-of-type(2){
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 2em;
}

section:first-of-type div:nth-of-type(2) a {
  border-radius: .8em;
  border: .1em solid var(--color-white);
}

section:first-of-type div:nth-of-type(2) img{
  width: 100%;
  max-width: 20em;  
}


/* section:first-of-type div:first-of-type(1){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* de video */
section:first-of-type video{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  max-width:35em;
}

/* button link */
.page1 section:first-of-type > a, .page2 section:nth-of-type(10) > a{
  display: block;
  text-align: center;
  margin: 2em auto;
  width: 70%;

  padding: 1em 1.8em;
  background-color: var(--color-buttons);
  color: var(--color-white);
  text-decoration: none;
  border-radius: .7em;

  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 100;
  
}

section:first-of-type > a:hover,
section:first-of-type > a:focus { /* focus state toegevoegd */
 background-color: var(--color-lightgray);
}

/* active state toegevoegd */
section:first-of-type > a:active {
  background-color: var(--color-lightgray); 
  
  /* eigen kleurtje o.i.d. */
}


/*************/
/* SECTION 2 */
/*************/

.page1 section:nth-of-type(2){
  overflow: auto;
}

/* titel */
.page1 section:nth-of-type(2) h2{
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-transform: uppercase;
  padding: 2em 0 0;

}

/* link */
section:nth-of-type(2) > a{
  text-align: center;
  margin: 2em auto;
  width: 60%;

  display: flex;
  gap:.5em; /* handiger dan margin bij de img*/
  /* align-items: center; */
  /* justify-content: center; */

  padding: 2em;
  color: var(--color-white);
  background-color: var(--color-buttons);
  text-decoration: none;
  border-radius: .7em;

  font-size: 3vw;
  letter-spacing: .05em;
  font-weight: 800;
}

section:nth-of-type(2) > a > img{
  flex: auto;
  width: 1em;
  height:auto;
  flex-shrink:0;
}

section:nth-of-type(2) > a:hover{
  background-color: var(--color-blue);
}

/* tekstje */
.page1 section:nth-of-type(2) > p{
  font-size: 1.2em;
  margin: 0;
  padding: 1em 2em 2em 2em;
  width: 100%;
  text-align: center;
}

section:nth-of-type(2) > p > a{
  text-decoration: underline;
  color: var(--color-black);
}





/*************/
/* SECTION 3 */
/*************/

.page1 section:nth-of-type(3){
  position:relative;
  margin: 4em;
}

.page1 section:nth-of-type(3) img{
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 40em;
}

section:nth-of-type(3) ol {
  position: absolute;
  top: 0;
  line-height: 1.7em;

  font-size: 2.6vw;

  margin:0;
  padding:0;
  list-style:none;
}

.page1 section:nth-of-type(3) h2{
  font-size: 2.5em;
  font-style: italic;
}

.page1 section:nth-of-type(3)> p{
  font-size: 1.5em;
  font-weight: 100;;
  mix-blend-mode: difference; /* cool cool !!! */ 
}





/*************/
/* SECTION 4 */
/*************/
/* section:nth-of-type(4){
  
} */

section:nth-of-type(4) div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:nth-of-type(4) div img{
  position: relative;
  display:block;
  margin: auto;
  width: 100%;
}

section:nth-of-type(4) div a{
  position: absolute;
  /* align-items: center; */
  /* text-align: center; */
  /* margin: 2em 2em; */
  min-width: 8em;

  padding: 1em 1.8em;
  background-color: var(--color-buttons);
  color: var(--color-white);
  text-decoration: none;

  border-radius: .7em;

  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 100;
}

section:nth-of-type(4) > a:hover{
  background-color: var(--color-lightgray);
}



/*************/
/* SECTION 5 */
/*************/

/* 
section:nth-of-type(5){
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

  /* -webkit-overflow-scrolling: touch; */

  /* margin-top: 1em; */
  /* padding: 2em; */
/* }  */

section:nth-of-type(5) ul{
  margin:0;
  padding:2em;
  list-style: none;

  display: flex;
  /* position: relative; */
  overflow-x: auto;

  scroll-snap-type: x mandatory; /* dit hoort bij de parent */
  /* scroll-behavior: smooth; = alleen nodig bij interactie */
  overscroll-behavior: contain auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
  
  /* width: 100%; */
  gap: 2em;
}

section:nth-of-type(5) li{
  scroll-snap-align: center; /* dit hoort bij het kind */
  width:100%;
  flex-shrink:0;

  display:flex;
  flex-direction:column;
  align-items:center;
  gap:1em;
}

section:nth-of-type(5) p:nth-of-type(1){
  font-size: 1.5em;
  text-align: center;
  font-weight: 100;

  /* margin: .5em; */
  margin:0;
}

section:nth-of-type(5) p:nth-of-type(2){
  font-size: 1.2em;
  text-align: center;
  font-weight: 100;
  /* width: 20em; */
  /* margin: 1em 0 2em; */
  margin:0;

  /* beetje ruimte tussen naam en streepje */
  display:flex;
  gap:.25em;
}

section:nth-of-type(5) p:nth-of-type(2)::before {
  content:"-";
  /* om het streepje breder te maken */
  display: inline-block;
  transform: scale(3, 1.1);
  transform-origin:right center;
}

section:nth-of-type(5) img {
  order:-1;
}

section:nth-of-type(5) img:hover{
  border: .3em solid var(--color-green);
  border-radius: 40em;
}





/*************/
/* SECTION 7 */
/*************/
.page1 section:nth-of-type(7){
  display: flex;
  flex-direction: column;
}

.page1 section:nth-of-type(7) img{
  /* margin: auto; */
  width: 100%;
  order:-1;

  max-height: 25em;
  object-fit: cover;
}

.page1 section:nth-of-type(7) div{
  margin: 2em;

  display: flex;
  flex-direction: column;
}

section:nth-of-type(7) div h2{
  font-size: 2.5em;
  margin: 0;
}

section:nth-of-type(7) div p:nth-of-type(1){
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;

  order:-1;

  margin: 0;
}

section:nth-of-type(7) div p:nth-of-type(2){
  font-size: 1.25em;
  font-weight: lighter;
}

section:nth-of-type(7) div a{
  text-align: center; 
  padding: .8em 1.9em;
  margin: 2em;
  border-radius: 0.7em;
  
  background-color: var(--color-buttons);
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 100;
}






/**********/
/* FOOTER */
/**********/
footer{
  background-color: var(--color-buttons);
}

footer h2{
  /* margin: 1em 1em 0; */
  margin:0;
  padding: 1em 1em 0;
  /* zo blijft de witruimte binnen de footer */
}

footer ul{
  list-style: none;
  /* padding: 0; */
  /* margin: 1.5em; */
  margin: 0;
  padding:1em 1.8em;
  /* zo blijft de witruimte binnen de footer */
}

footer li{
  margin: 1em 0;
}

footer a{
  color: var(--color-white);
  text-decoration: none;
  font-weight: lighter;
}

footer a:hover{
  border-bottom:0.1em solid var(--color-green);
}

.page1 footer > ul:first-of-type > li:first-of-type > a{
  color: var(--color-green);
}

.page1 footer > ul:first-of-type > li:first-of-type > a::before{
  content:"|";
  /* om het streepje breder te maken */
  display: inline-block;
  transform: scale(5, 1.1);
  transform-origin:right center;


}



/*************************/
/*************************/
/* SECOND PAGE - CAREERS */
/*************************/
/*************************/



/*************/
/* SECTION 1 */
/*************/

.page2 main > section:first-of-type {
  display: flex;
  flex-direction: column;
}

.page2 main > section:first-of-type h1{
  display: flex;
  justify-content: center;
  overflow-x: hidden;


  font-size: clamp( 3.5em, 5vw, 6.5em);
  font-style: italic;
  gap: .5em;

}

.page2 section:first-of-type h1::before,.page2 section:first-of-type h1::after { /* herhaling p */
  content:"Careers";
}


.page2 section:first-of-type iframe{ /* de video */
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  max-width:60em;
}

.page2 main > section:first-of-type > p{ /* tekst onder de video */
  margin: 2em;

  font-size: .9em;
  color: var(--color-whiteopacity);
  
}

/*************/
/* SECTION 2 */
/*************/

.page2 main > section:nth-of-type(2){
  display: flex;
  flex-direction: column;

  margin: 2em;
}

/* h1 en p */
.page2 main > section:nth-of-type(2) > h2{
  justify-content: left;

  text-transform: none;
  font-weight: bold;
  font-size: 1.5em;

}

.page2 main > section:nth-of-type(2) > p{
  justify-content: left;
  text-align: left;
  padding:0;

  font-size: 1.5em;
  font-weight: 100;
}


/*************/
/* SECTION 3*/
/*************/

/* zoekbalk */

.page2 section:nth-of-type(3) form{
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
}

.page2 section:nth-of-type(3) > form > input{
  padding: 1.5em 0 1.5em 2em;
  margin: 2em 0;
  width: 100%;

  background-color: var(--color-whiteopacity);

  border: none;
  border-radius: 1em;

  font-size: 1em;
}


.page2 section:nth-of-type(3) > form > a { /* Vormgeving rondom zoekicoon */
  display: flex;
  background-color: var(--color-buttons);
  padding:1.3em 2em;
  margin: 0 0 0 1em;
  border-radius: 1em;
}

.page2 section:nth-of-type(3) > form > a:hover{
  background-color: var(--color-lightgray);
}

.page2 section:nth-of-type(3) > form > a > img{ /* Zoek icoontje */
  justify-content: center;
}




/* dropdown */

.page2 main section:nth-of-type(3) > p:nth-of-type(2){
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 .5em 0;
}

.page2 main > section:nth-of-type(3){ /* vormgeving button, dropdown en tekst */
  
  margin: 2em 2em;

  overflow:hidden;
  position: relative;
} 


.page2 main > section:nth-of-type(3) ul{ /* vormgeving dropdown */
  
  transition:1s;
  background-color: var(--color-whiteopacity);

  display:grid;
  gap:1em;

  max-height:0;
  padding:0 2em;
}


.page2 main > section:nth-of-type(3) button:first-of-type{ /* vormgeving button van dropdown */
  display: block; 
  
  border: none;
  border-radius: 1em;
  
  height: 4em;
  width:100%;
  background-color: var(--color-whiteopacity);
}

.page2 section:nth-of-type(3) button:hover{
  border: .2em solid var(--color-green);
}


.page2 main > section:nth-of-type(3) button p{
  display: flex;
  margin:0;
  padding: 0 0 0 1em;

  font-weight: 100;
  font-size: 1.2em;
  color: var(--color-white);

}

.page2 section:nth-of-type(3).open{
  transform:translateY(0%);

}

/* kader geopende ul */
.page2 section:nth-of-type(3).open ul {
  max-height:20em;
  padding: 0;
  overflow: hidden;

  border-radius: 1em;
}

.page2 section:nth-of-type(3) li{
  list-style: none;
  font-size: 1em;
  font-weight: lighter;
  margin: 1em;
  


} 

.page2 section:nth-of-type(3) > ul > li >  input{
  margin: 1em;
}

.page2 section:nth-of-type(3) button:nth-of-type(2){
  display: flex;
  justify-content: left;
  gap: 1em;
  padding: 1.5em 2.5em;

  background-color: var(--color-buttons);
  border:none;
  border-radius: 1em;

  color: var(--color-white);
  font-size: 1em;
}


.page2 section:nth-of-type(3) button:nth-of-type(2) img{
  width: 1em;
}

.page2 section:nth-of-type(3) button:nth-of-type(2):hover{
  background-color: var(--color-lightgray);
}

/*************/
/* SECTION 4 */
/*************/
.page2 main > section:nth-of-type(4){
  margin: 2em;
}

.page2 section:nth-of-type(4) ul{
  padding: 0;
}

/* bovenste lijn van de eerste li */
.page2 section:nth-of-type(4) ul:first-of-type > li:first-of-type{ 
  border-top: 1px solid var(--color-white);
  padding-top: 1em;
}

.page2 section:nth-of-type(4) li{
  display: grid;
  border-bottom: 1px solid var(--color-white);
  list-style: none;
  padding: 0 0 1em 0;
}

/* Naam functie */
.page2 section:nth-of-type(4) a{
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;

  text-decoration: none;
  color: var(--color-white);
}

.page2 section:nth-of-type(4) a:hover{
  color: var(--color-green);
}

/* Stad, afdeling, type werk*/
.page2 main > section:nth-of-type(4) > p{
  display: flex;

  font-size: 1em;
  font-weight: 100;
  margin: 0;
  
}

/* type werk naar rechts van de grid */
.page2 section:nth-of-type(4) ul > li > p:last-of-type{
  justify-content: flex-end;
  align-items: flex-end;
}

/*************/
/* SECTION 5 */
/*************/

.page2 section:nth-of-type(5){
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 3em;
  gap: 1em;
}

.page2 section:nth-of-type(5) button{
  /* padding: 1em 2em; */
  display: flex;
  align-items: center;
  border:none;
  border-radius: .6em;

  background-color: var(--color-buttons);
}

/* disabled button */
.page2 section:nth-of-type(5) button:disabled{
  justify-content: center;

  cursor: not-allowed;
}

.page2 section:nth-of-type(5) img{
  width: 2em;
}

.page2 section:nth-of-type(5) button:nth-of-type(2){
  padding: 1em;
  color: var(--color-white);
}

/* pijl roteren */
.page2 section:nth-of-type(5) button:nth-of-type(3) > img{
  transform: rotate(180deg);
}

.page2 section:nth-of-type(5) button:nth-of-type(2):hover, button:nth-of-type(3):hover{
  background-color: var(--color-lightgray);
}

/*************/
/* SECTION 6 */
/*************/


.page2 section:nth-of-type(6) h2{
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  background-color: #C8FF4E;
  color: var(--color-black);
  text-transform: uppercase;
  font-size: clamp( 3.5em, 5vw, 6.5em);
  font-style: italic;

  gap: 1em;
  margin: 0;
  padding: 1em;
}

/* tekst herhalen */
.page2 section:nth-of-type(6) h2::before, section:nth-of-type(6) h2::after{
  content:"Our values";
}

.page2 section:nth-of-type(6) > img{
  width: 100%;
}

/*************/
/* SECTION 7 */
/*************/

@media (min-width: 600px) {
  .page2 section:nth-of-type(7) { grid-template-columns: repeat(2, 1fr); }
}

.page2 main > section:nth-of-type(7){
  display: grid;
  background-color: var(--color-white); 
  color: var(--color-black);/* kleur stond standaard op zwarte achtergrond en witte tekst */
}

.page2 main > section:nth-of-type(7) > img{
  display: flex;
  margin: 0 auto;

  order: -1;
  width: 3em;
  height: 3em;
}

.page2 main > section:nth-of-type(7)> section{
  text-align: center;
  margin:2em;
}

.page2 main > section:nth-of-type(7) > section > h2{
  font-size: 1.5em;
  text-transform: uppercase;
  
}

/*************/
/* SECTION 8 */
/*************/

.page2 main > section:nth-of-type(8){
  background-color: var(--color-green);
  color:var(--color-black);
}

.page2 main > section:nth-of-type(8) > h2{
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  text-transform: uppercase;
  font-size: clamp( 3.5em, 5vw, 6.5em);
  font-style: italic;

  gap: 1em;
  margin: 0;
  padding: .8em;
}

.page2 section:nth-of-type(8) h2::before, section:nth-of-type(8) h2::after {
  content:"our story";
  
}

/*************/
/* SECTION 9 */
/*************/

.page2 main > section:nth-of-type(9){
  background-color: var(--color-white);
  color: var(--color-black);
}
.page2 main > section:nth-of-type(9) img{
  width: 100%;
  max-height: 30em;
  order: -1;
  
  object-fit: cover;
}

.page2 main > section:nth-of-type(9) h2{
  font-size: 2.5em;
  margin: .5em 0 0 .5em;
}

.page2 main > section:nth-of-type(9) p{
  font-size: 1.25em;
  font-weight: 100;

  margin: 0;
  padding: 1em 2em 2em 1em;
}

/*************/
/* SECTION 10 */
/*************/

.page2 section:nth-of-type(10) img{
  width: 100%;
  max-height: 30em;
  object-fit: cover;
}

.page2 main > section:nth-of-type(10) h2{
  font-size: 2.5em;
  margin: .8em;
}

/*************/
/* SECTION 11 */
/*************/

.page2 main > section:nth-of-type(11){
  background-color: var(--color-green);
  color: var(--color-black);
  padding: 2em 3em;
}

.page2 main > section:nth-of-type(11) p{
  font-size: 1.25em;
  font-weight: 100;
}

/**********/
/* FOOTER */
/**********/

.page2 footer > ul:first-of-type > li:nth-of-type(3) > a{
  color: var(--color-green);
}

.page2 footer > ul:first-of-type > li:nth-of-type(3) > a::before{
  content:"|";
  /* om het streepje breder te maken */
  display: inline-block;
  transform: scale(5, 1.1);
  transform-origin:right center;

}