/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box;  
}

button{
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-white:#FFF;
  --color-black:#000;
  --color-green:#C8FF4E;
  --color-buttons: #1A1B1F;
  --color-lightgray: #474750;
  --color-blue: #4F81FF;

  --color-gray: rgb(255 255 255 / 0.15);
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-white);
  background-color:var(--color-black);
  font-family: "Object Sans", sans-serif;
  display: grid;
  line-height: 1.45;
  margin: 0 auto;
}


header {
  padding:9em 0 1em;
}

/*************/
/* FIRST NAV */
/*************/

nav:first-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  gap: 2em;
  background-color: var(--color-black);
  width: 100%;
  height: 3em;
  z-index: 10;
}

nav:first-of-type a{
  font-weight: 100;
  font-size: 1.5em;
  color: var(--color-white);
  text-decoration: none;
}

nav:first-of-type a:hover{
  border-bottom:0.1em solid var(--color-green);
}

nav:first-of-type img{
  width: 2em;
}
/******************/
/* HAMBURGER MENU */
/******************/

nav:nth-of-type(2){
  width: 100%;
  max-width:35em;
  
  margin: 0 auto;

  border-radius: 3em;
  overflow:hidden;
  position: relative;
} 

nav:nth-of-type(2).open{
	transform:translateY(0%);
}


nav:nth-of-type(2) button{
  position:relative;
  display: block;	
  
  padding: 0.75em;
  
  border: none;
  
  height: 6em;
  width:100%;
  background-color: var(--color-gray);
}

nav:nth-of-type(2) > button > img{
  width: 10em;
}

nav:nth-of-type(2) ul{
  margin:0;
  
	transition:1s;
  background-color: var(--color-gray);

  display:grid;
  gap:1em;

  max-height:0;
  padding:0 2em;
}

nav:nth-of-type(2).open ul {
  max-height:24em;
  padding:2em;
}

nav:nth-of-type(2) li{
  list-style: none;
  
}

nav:nth-of-type(2) a{
  color:var(--color-white);
  text-decoration: none;
}

/*************/
/* SECTION 1 */
/*************/

article{
  display: flex;
}

article:first-of-type{
  display: grid;
  padding: 2em;
  margin:0 2em 0 2em;
}

article h1{
  font-size: 4em;
  margin: 0;
  font-weight: 100;
}

article p{
  font-size: 2em;
  letter-spacing: .05em;
  font-weight: 600;
  margin: 0;
}

article:nth-of-type(2){
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1.2em;
  /* gap: .5em; */
}
article:nth-of-type(2) img{
  width: 17em;
}

section:first-of-type img{
  border-radius: .8em;
  border: .1em solid var(--color-white);
}

section:first-of-type(1){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

video{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  max-width:35em;
}

/******************/
/* BUTTON LINK */
/******************/

section:first-of-type > a{
  display: block;
  text-align: center;
  width: 20em;
  margin: 2em auto;
  margin-bottom: 2em;
  
  padding: 1em 1.8em;
  background-color: var(--color-buttons);
  color: var(--color-white);
  text-decoration: none;
  border-radius: .7em;

  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 100;
  
}

section:first-of-type > a:hover{
 background-color: var(--color-lightgray);
  
}

/*************/
/* SECTION 2 */
/*************/

section:nth-of-type(even) {
  background-color:var(--color-white);
  color:var(--color-black);
  width: 100%;
}

marquee{
  text-transform: uppercase;
  font-size: 5.5em;
  font-weight: 550;
  font-style: italic;

  background-color:var(--color-white);
  color:var(--color-black);
  width: 100%;
}

section:nth-of-type(2) h2{
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-transform: uppercase;
  padding: 2em 0 0;

}

section:nth-of-type(2) > a{
  display: block;
  text-align: center;
  width: 20em;
  margin: 0 auto;
  margin-top: 2em;
  
  padding: 1.8em 1.8em;
  color: var(--color-white);
  background-color: var(--color-buttons);
  text-decoration: none;
  border-radius: .7em;

  font-size: 1.5em;
  letter-spacing: .05em;
  font-weight: 800;
}

section:nth-of-type(2) > a:hover{
  background-color: var(--color-blue);
}

section:nth-of-type(2) > p{
  font-size: 1.5em;
  margin: 0 auto;
  padding: 2em 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

section:nth-of-type(2) > p > a{
  text-decoration: underline;
  color: var(--color-black);
  padding: 0 0 0 0.3em;
}

/*************/
/* SECTION 3 */
/*************/

section:nth-of-type(3){
  position:relative;

}

section:nth-of-type(3) > img{
  display: flex;
  margin: 0 auto;
}

section:nth-of-type(3) > section{
  position: absolute;
  top: 5em;
  left: 3em;
  line-height: 1.7em;

}

section:nth-of-type(3) > section > h2{
  font-size: 3em;
  font-style: italic;
}

section:nth-of-type(3) > section > p{
  font-size: 1.5em;
  font-weight: 100;
  max-width: 14em;
}

/*************/
/* SECTION 4 */
/*************/

section:nth-of-type(4){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:nth-of-type(4) > img{
  position: relative;
  margin: auto;
  width: 100%;
}

section:nth-of-type(4) > a{
  position: absolute;
  align-items: center;
  text-align: center;
  width: 10em;
  
  padding: 1em 1.8em;
  background-color: var(--color-buttons);
  color: var(--color-white);
  text-decoration: none;

  border-radius: .7em;

  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 100;
}

/*************/
/* SECTION 5 */
/*************/

main section:nth-of-type(5){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section:nth-of-type(5) ul{
  display: flex;
  overflow-x: auto;

  scroll-snap-type: inline mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior: contain auto;
/* 
  gap: 2em;

  margin: 0 auto;
  width: 80em; */
  /* height: fit-content; */
  
}

section:nth-of-type(5) li{
  margin: 2em;
  /* width: 30em; */
  text-align: center;
  line-height: 1.5em;
  list-style: none;

}

/* main section:nth-of-type(5) p{
  font-size: 1.7em;
  text-align: center;
  font-weight: 100;
  width: 29em;
} */

/* section:nth-of-type(5) ul li {
  display:flex;
  flex-direction: column-reverse;
} */

/* section:nth-of-type(5) > ul > li> p{
  font-size: 2em;
  min-width: 4em;
  min-height: 9em;
  font-weight: 100;
} */

/* 
section:nth-of-type(5) > ul > li > img{
  width: 15em;
} */



