/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box;  
}

button{
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-white:#FFF;
  --color-black:#000;
  --color-green:#C8FF4E;
  --color-buttons: #1A1B1F;
  --color-lightgray: #474750;
  --color-blue: #4F81FF;

  --color-gray: rgb(255 255 255 / 0.15);
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-white);
  background-color:var(--color-black);
  font-family: "Object Sans", sans-serif;
  display: grid;
  line-height: 1.45;
  margin: 0 auto;
}


header {
  padding:9em 0 1em;
  width: 100%;
}

a:focus-visible{
  outline: 2px solid var(--color-green);
  outline-offset: 3px;
}



/*************/
/* FIRST NAV */
/*************/

nav:first-of-type{
  display: flex;
  position: fixed;
  top:0;
  /* justify-content: space-around; */
  justify-content: center;
  gap: 3em;

  background-color: var(--color-black);
  width: 100%;
  height: 3em;
  z-index: 10;
}

nav:first-of-type a{
  display: flex;
  align-items: center;
  gap: .5em;

  font-weight: 100;
  font-size: 2.5vw;
  color: var(--color-white);
  text-decoration: none;
}

nav:first-of-type a:hover{
  border-bottom:0.1em solid var(--color-green);
}

nav:first-of-type img{
  width: 1em;
}
/******************/
/* HAMBURGER MENU */
/******************/

nav:nth-of-type(2){
  width: 100%;
  max-width:35em;
  
  margin: 0 auto;

  border-radius: 3em;
  overflow:hidden;
  position: relative;
} 

nav:nth-of-type(2).open{
	transform:translateY(0%);
}


nav:nth-of-type(2) button{
  position:relative;
  display: block;	
  
  padding: 0.75em;
  
  border: none;
  
  height: 6em;
  width:100%;
  background-color: var(--color-gray);

}

nav:nth-of-type(2) button:focus{
  color: var(--color-green);
}

nav:nth-of-type(2) > button > img{
  width: 10em;
}

nav:nth-of-type(2) ul{
  margin:0;
  
	transition:1s;
  background-color: var(--color-gray);

  display:grid;
  gap:1em;

  max-height:0;
  padding:0 2em;
}

nav:nth-of-type(2).open ul {
  max-height:24em;
  padding:2em;
}

nav:nth-of-type(2) li{
  list-style: none;
  
}

nav:nth-of-type(2) a{
  color:var(--color-white);
  text-decoration: none;
}

/*************/
/* SECTION 1 */
/*************/

div{
  display: flex;
}

div:first-of-type{
  display: grid;
  padding: 2em;
  margin:0 0 2em;
}

div p{
  font-size: 5vw;
  letter-spacing: .05em;
  font-weight: 600;
  margin: 0;
}

div h1{
  font-size: 7vw;
  margin: 0;
  font-weight: 100;
}


div:nth-of-type(2){
  justify-content: center;
  gap: 1em;
  margin: 1em;
}

div:nth-of-type(2) img{
  width: 100%;
  max-width: 20em;
  border-radius: .8em;
  border: .1em solid var(--color-white);
}

div:first-of-type(1){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  max-width:35em;
}

/******************/
/* BUTTON LINK */
/******************/

section:first-of-type > a{
  display: block;
  text-align: center;
  margin: 2em auto;
  width: 60%;

  padding: 1em 1.8em;
  background-color: var(--color-buttons);
  color: var(--color-white);
  text-decoration: none;
  border-radius: .7em;

  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 100;
  
}

section:first-of-type > a:hover{
 background-color: var(--color-lightgray);
  
}

/*************/
/* SECTION 2 */
/*************/

section:nth-of-type(even) {
  background-color:var(--color-white);
  color:var(--color-black);
  width: 100%;
}
section:nth-of-type(2){
  overflow: auto;
}

marquee{
  text-transform: uppercase;
  font-size: 5.5em;
  font-weight: 550;
  font-style: italic;
  height: 1.4em;

  background-color:var(--color-white);
  color:var(--color-black);
  width: 100%;
}

section:nth-of-type(2) h2{
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-transform: uppercase;
  padding: 2em 0 0;

}

section:nth-of-type(2) > a{
  text-align: center;
  margin: 2em auto;
  width: 60%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2em;
  color: var(--color-white);
  background-color: var(--color-buttons);
  text-decoration: none;
  border-radius: .7em;

  font-size: 3vw;
  letter-spacing: .05em;
  font-weight: 800;
}

section:nth-of-type(2) > a > img{
  width: 1em;
  margin: 0 .5em 0 0;
}

section:nth-of-type(2) > a:hover{
  background-color: var(--color-blue);
}

section:nth-of-type(2) > p{
  font-size: 1.2em;
  margin: 2em auto;
  padding: 0 2em;
  width: 100%;
  text-align: center;
}

section:nth-of-type(2) > p > a{
  text-decoration: underline;
  color: var(--color-black);
}

/*************/
/* SECTION 3 */
/*************/

section:nth-of-type(3){
  position:relative;
  margin: 4em;
}

section:nth-of-type(3) > img{
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 40em;
}

section:nth-of-type(3) > section{
  position: absolute;
  top: 0em;
  line-height: 1.7em;

  font-size: 2.6vw;

}

section:nth-of-type(3) > section > h2{
  font-size: 2.5em;
  font-style: italic;
}

section:nth-of-type(3) > section > p{
  font-size: 1.5em;
  font-weight: 100;;
  mix-blend-mode: difference;

}

/*************/
/* SECTION 4 */
/*************/

section:nth-of-type(4){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:nth-of-type(4) > img{
  position: relative;
  margin: auto;
  width: 100%;
}

section:nth-of-type(4) > a{
  position: absolute;
  align-items: center;
  text-align: center;
  margin: 2em 2em;
  min-width: 8em;

  padding: 1em 1.8em;
  background-color: var(--color-buttons);
  color: var(--color-white);
  text-decoration: none;

  border-radius: .7em;

  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 100;
}

section:nth-of-type(4) > a:hover{
  background-color: var(--color-lightgray);
   
 }
/*************/
/* SECTION 5 */
/*************/

section:nth-of-type(5){
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-overflow-scrolling: touch;

  margin-top: 1em;
  padding: 2em;
}



section:nth-of-type(5) ul{
  display: flex;
  /* position: relative; */
  overflow-x: auto;

  scroll-snap-align: start;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior: contain auto;

  width: 100%;
  gap: 2em;
}

section:nth-of-type(5) li{
  list-style: none;
}

/* section:nth-of-type(5) > p:nth-of-type(1){
  font-size: 1.7em;
  text-align: center;
  font-weight: 100;
  width: 100%;
  margin: .5em;
}

section:nth-of-type(5) > p:nth-of-type(2){
  font-size: 1.2em;
  text-align: center;
  font-weight: 100;
  width: 20em;
  margin: 1em 0 2em;
} */

section:nth-of-type(5) img:hover{
  border: .3em solid var(--color-green);
  border-radius: 40em;
}

/*************/
/* SECTION 7 */
/*************/
section:nth-of-type(7){
  display: flex;
  flex-direction: column;
}

section:nth-of-type(7) > img{
  margin: auto;
  width: 100%;
}

section:nth-of-type(7) > section{
  margin: 2em;
}

section:nth-of-type(7) > section > p:nth-of-type(1){
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

section:nth-of-type(7) > section >  h2{
  font-size: 2.5em;
  margin: 0;

}

section:nth-of-type(7) section > p:nth-of-type(2){
  font-size: 1.25em;
  font-weight: lighter;
}

/**********/
/* FOOTER */
/**********/

footer{
  background-color: var(--color-buttons);
}

footer h2{
  margin: 1em 1em 0;
}

footer ul{
  list-style: none;
  padding: 0;
  margin: 1.5em;
}

footer a{
  color: var(--color-white);
  text-decoration: none;
  font-weight: lighter;
}

footer a:hover{
  border-bottom:0.1em solid var(--color-green);
}
